.body {
    margin: 10px;
    border-radius: 5px;
}

.back{
   right: 5px;
    float: left;
    display: inline-block;
}

.button {
 align-self: flex-end;
}

.title {
    display: flex ;
    align-items: center;
}