.body{
    margin: 10px;
    background-color: #e3e4e5;
    border-radius: 5px;
}

.title {
	display: flex;
	align-items: center;
	margin-left: 20px;
}

.reloadComplaints {
	margin-left: 10px;
}

h1 {
	margin-bottom: 24px;
}
